{% extends "base.html" %}

{% block content %}
<div class="form-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Editar Dados do Usuário</h1>
    <div class="form-table">
      <table>
        {{ form.as_table }}
      </table>
    </div>
    <div>
      <div class="buttons-container">
        <input type="submit" value="Salvar Alterações" class="btn btn-primary">
        <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Deletar Carro</a>
        <a href="{% url 'cars_list' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}